h3 {
  text-align: right;
  margin-right: 30%;
}

.App {
  text-align: center;
  font-size: 22px;
  color: #282c34;
  margin-left: 10%;
  margin-right: 10%;
  min-height: 700px;
  background-color: white;
}

button {
  border-radius: 10px;
  margin-left: 10px;
  font-size: 26px;
  background-color: chocolate;
  color: white;
}

.App-header {
  background-color: chocolate;
  height: 15%;
  width: 100%;
  font-size: 25px;
  color: white;
}

table {
  margin-left: 15%;
}

table, th, td {
  border-color: lightgray;
  border-style: dashed;
  border-width: 1px;
  font-size: 28px;
}

.customerWindow {
  background-color: chocolate;
  border-style: solid;
  width: 85%;
  margin: auto;
  border-radius: 30px;
}

.kello {
  margin-left: 30%;
  margin-top: 10px;
}

form {
  margin-left: 20%;
  border-style: solid;
  border-color: chocolate;
  padding-bottom: 8px;
  padding-top: 8px;
  width: 60%;
  background: chocolate;
  border-radius: 7px;
}

input {
  height: 30px;
  width: 50%;
  margin-bottom: 6px;
}
